<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <script src="{{ site.baseurl }}/js/vendor/custom.modernizr.js"></script>
  </head>
  <body>
    <div class="grey-band"></div>

    <div class="header-wrapper">
      <header class="row">
        <div class="large-12 columns">
          <h1><img src="{{ site.baseurl }}/images/header_page_title.png" alt="WDIM268" /> <span>Final project website</span></h1>
          <p class="right"><img src="{{ site.baseurl }}/images/header_search_bar.png" alt="Not really a search bar." /></p>
        </div>
      </header>

      <div class="nav-divider"></div>

      <nav class="row">
        <div class="large-12 columns">
          <ul class="main-nav inline-list">
            <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
            <li><a href="{{ site.baseurl }}/pricing/">Pricing</a></li>
          </ul>

          <ul class="inline-list right account-access">
            <li><a href="#" class="log-in">Log in</a></li>
            <li>or</li>
            <li><a href="#" class="sign-up">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="main-wrapper">
      {{ content }}
    </div>
    
    <div class="bottom-wrapper">
      <div class="row">
        <div class="large-3 columns">
          <h5>Latest Blog Entries</h5>

          <h6><span class="badge">12.01</span> We did a redesign...</h6>
          <p>Through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross.</p>

          <h6><span class="badge">12.01</span> Moving to new server</h6>
          <p>When a naked man's chasing a woman through and a hard-on, i figure he's not out collecting for the red cross.</p>

          <h6><span class="badge">12.01</span> We ave a new client...</h6>
          <p>When a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out.</p>

        </div>
        <div class="large-3 columns">
          <h5>Recent Comments</h5>
          
          <div class="row">
            <div class="large-3 columns">
              <img src="{{ site.baseurl }}/images/footer_speech_bubbles.png" alt="Speech bubbles for flare!">
            </div>
            <div class="large-9 columns footer-comment">
              <p><strong>Ben</strong> said:</p>
              <p>Are you feeling lucky punk</p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <img src="{{ site.baseurl }}/images/footer_speech_bubbles.png" alt="Speech bubbles for flare!">
            </div>
            <div class="large-9 columns footer-comment">
              <p><strong>Joe Santos</strong> said:</p>
              <p>This is the ak-47 assault rifle, the preferred weapon of your enemy. Weapon of your enemy</p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <img src="{{ site.baseurl }}/images/footer_speech_bubbles.png" alt="Speech bubbles for flare!">
            </div>
            <div class="large-9 columns footer-comment">
              <p><strong>Marko</strong> said:</p>
              <p>And it makes a distinctive sound when fired at you.</p>
            </div>
          </div>

        </div>
        <div class="large-3 columns">
          <h5>Advertising</h5>
          <ul class="large-block-grid-2">
            <li><img src="{{ site.baseurl }}/images/footer_ad_one.png" alt="Ad One" /></li>
            <li><img src="{{ site.baseurl }}/images/footer_ad_two.png" alt="Ad Two" /></li>
            <li><img src="{{ site.baseurl }}/images/footer_ad_three.png" alt="Ad Three" /></li>
            <li><img src="{{ site.baseurl }}/images/footer_ad_four.png" alt="Ad Four" /></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <h5>Tweeter Stuff</h5>
          <img src="{{ site.baseurl }}/images/footer_tweet_bg.png" alt="bird bird bird, birds the word">
          <div class="tweet">
            <a class="tweet-name" href="#">wisefalco:</a>
            <p class="tweet-content"><em><a href="">@simnor</a> Haha, this is really funny(<a href="#">http://tinyurl.com/</a>)</em></p>
            <p>5 minutes ago from web</p>
          </div>

          <a class="follow" href="#">Follow us on Twitter</a>
        </div>
      </div>
    </div>

    <div class="footer-wrapper">
      <footer class="row">
        <div class="large-12 columns">
          <span class="site-name">WDIM268</span> 
          <span class="foot-small">Copyright 2009, All rights reserver. Valid(HTML5/CSS3).</span>
          <ul class="footer-nav inline-list right">
            <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
            <li><a href="{{ site.baseurl }}/pricing/">Pricing</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <script>
    document.write('<script src=' +
    ('__proto__' in {} ? '{{ site.baseurl }}/js/vendor/zepto' : '{{ site.baseurl }}/js/vendor/jquery') +
    '.js><\/script>')
    </script>
    
    <script src="{{ site.baseurl }}/js/foundation/foundation.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.magellan.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.placeholder.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.abide.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.joyride.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.alerts.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.orbit.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.reveal.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.forms.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.topbar.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.clearing.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.cookie.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.interchange.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.section.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.dropdown.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.tooltips.js"></script>
    
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
